.ShopCart-Container {
    float: right;
    margin: 0 50px;
    width: 400px;
}

.ShopCart-Header {
    text-transform: uppercase;
    color: gray;
    font-weight: 700;
    margin-left: 30px;
}

.Summary-Table {
    width: 100%;
    border-collapse: collapse;
}

.Summary-Table td {
    height: 45px;
}

.Summary-Table > tbody > tr > td:nth-child(even),
.Summary-Table > tfoot > tr > td:nth-child(even) {
    text-align: right;
}

.Summary-Table > tfoot > tr > td:nth-child(even){ 
    font-weight: 700;
}

.Summary-Table > tfoot {
    border-top: 2px solid gray;
}