.ShopCart-Container {
    float: right;
    margin: 0;
    width: 300px;
}

.Summary-Table {
    width: 100%;
    border-collapse: collapse;
}

.Summary-Table td {
    height: 45px;
}

.Summary-Table > tbody > tr > td:nth-child(even),
.Summary-Table > tfoot > tr > td:nth-child(even) {
    text-align: right;
}

.Summary-Table > tfoot > tr > td:nth-child(even){ 
    font-weight: 700;
}

.Summary-Table > tfoot {
    border-top: 2px solid gray;
}

@media (max-width: 767px) {
    
    .ShopCart-Container {
        float: none;
        margin: auto;
    }
}