.ShopCart {
    max-width: 400px;
    margin: auto;
}

.ShopCart-header {
    border-bottom: 1px solid;
}

.Summary {
    border: 2px solid #1c3176;
    border-radius: 5px;
}

.Summary-header {
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    background-color: #1c3176;
    padding: 10px;
    margin: 0;
}

.Summary-table {
    width: 100%;
}

.Summary-table tr {
    border-bottom: 1px solid #1c3176;
}

.Summary-table td {
    padding: 5px 10px;
}

.Summary-table tfoot {
    background-color: #1c3176;
    color: #fff;
}