.ShopItem {
    width: 100%;
    margin: 10px 0;
}

.ShopItem-name {
    font-weight: 700;
    text-transform: uppercase;
    border: 2px solid;
    padding: 10px;
    border-radius: 6px;
    background-color: #1c3176;
    color: #fff;
}

.ShopItem-image, 
.ShopItem-description {
    display: inline-block;
    vertical-align: middle;
}

.ShopItem-image {
    width: 50%;
    margin: 0 10px 0 0;
}

.ShopItem-image img {
    width: 100%;
}

.ShopItem-amount {
    margin: 0 10px;
}

.ShopItem-price {
    margin: 10px 0;
}

.ShopItem-price > span:nth-child(2) {
    font-weight: 700;
}