.Item-container {
    width: 100%;
    margin: 20px 0;
}

.ItemDescription-Wrapper, .ItemImage-Wrapper {
    display: inline-block;
}

.ItemDescription-Wrapper {
    width: 185px;
}

.ItemImage-Wrapper {
    width: 100px;
    margin: 0 15px 0 0;
}

.ItemImage {
    width: 100px;
    vertical-align: super;
}

.ItemName {
    font-weight: 700;
    color: gray;
    margin: 0;
}

.ItemCount > * {
    margin: 10px;
}

.ItemCount > img {
    vertical-align: middle;
    cursor: pointer;
}

.ItemPrice {
    font-size: 14px;
}

.ItemPrice > span:nth-child(2) {
    float: right;
    font-weight: 700;
}

/*All media queries are in App.css*/