.Hamburger-Menu {
    display: none;
}

@media (max-width: 767px) {
    
    .Hamburger-Menu {
        top: 16px;
    } 

    .Hamburger-Menu {
        display: inline-block;
        position: absolute;
        left: 0;
    }
}