.CheckoutForm form {
    max-width: 400px;
    margin: auto;
}

.CheckoutForm-title {
    border-bottom: 1px solid;
}

.CheckoutForm-input {
    margin: 15px 0;
}

.CheckoutForm-btn {
    border-radius: 0;
    width: 200px;
}