.CheckoutForm form {
    max-width: 400px;
    margin: auto;
}

.CheckoutForm-title {
    border-bottom: 1px solid;
}

.CheckoutForm-input,
.CheckoutForm-btn {
    color: #fff;
    background-color: #1c3176;
    border-radius: 5px;
    -webkit-transition: transform 200ms ease-in, box-shadow 100ms ease-in 100ms;
    -moz-transition: transform 200ms ease-in, box-shadow 100ms ease-in 100ms;
    transition: transform 200ms ease-in, box-shadow 100ms ease-in 100ms;
    padding: 10px;
}

.CheckoutForm-input {
    margin: 15px 0;
}

.CheckoutForm-input:hover,
.CheckoutForm-btn:hover  {
    box-shadow: 4px 4px 3px #888;
    transform: translate(-3px, -3px)
}

.CheckoutForm-btn {
    font-weight: 700;
    text-transform: uppercase;
}

.CheckoutForm-btn,
.CheckoutForm-btn:hover {
    color: #fff;
    background-color: #1c3176;
    outline: none;
    border: none;
}