.Header-Cart-Wrapper {
    position: absolute;
    right: 0;
    top: 20px;
}

.Cart-Icon {
    vertical-align: middle;
}

@media (max-width: 767px) {
    
    .Header-Cart-Wrapper {
        top: 16px;
    } 
}