.Header-Menu-Wrapper {
    position: relative;
}

.mobile-hidden {
    display: block;
}

.Header-Menu-List {
    list-style: none;
    font-size: 20px;
    font-weight: 700;
    color: gray;
    padding: 0;
}

.Header-Menu-List > li {
    display: inline;
    margin: 25px;
}

/*All media queries are in App.css*/