.Content-Container  {
    width: 700px;
    margin: 0 auto 50px;
}

.Container-Header, .Content-Title {
    text-transform: uppercase;
    color: gray;
    font-weight: 700;
    
}

.Container-Header {
    margin-left: 15px;
}

.Content-Title {
    text-align: center;
    margin: 30px auto;
}



/*Media*/

@media (max-width: 767px) {
    .Content-Container {
        width: 320px;
    }
    .Header-Wrapper {
        padding: 0
    }
    .Header-Inner {
        width: 300px;
    }

    .HeaderTitle-Wrapper > h2 {
        font-size: 18px;
        font-weight: 700;
    }

    .mobile-hidden {
        display: none;
    }

    .Header-Menu-List > li {
        display: block;
    }
    
    .Header-Cart-Wrapper, .Hamburger-Menu {
        top: 16px;
    } 

    .Hamburger-Menu {
        display: inline-block;
        position: absolute;
        left: 0;
    }

    .ShopCart-Container, .Form-Container {
        float: none;
        margin: auto;
    }
}