.Content-Container  {
    width: 700px;
    margin: 0 auto 50px;
}

.Container-Header, .Content-Title {
    text-transform: uppercase;
    color: gray;
    font-weight: 700;
    
}

.Container-Header {
    margin-left: 15px;
}

.Content-Title {
    text-align: center;
    margin: 30px auto;
}