.Content-Container  {
    width: 700px;
    margin: 0 auto 50px;
}

.Container-Header, .Content-Title {
    text-transform: uppercase;
    color: gray;
    font-weight: 700;
    
}

.Container-Header {
    margin-left: 15px;
}

.Content-Title {
    text-align: center;
    margin: 30px auto;
}



/*Media*/

@media (max-width: 767px) {
    .Content-Container {
        width: 320px;
    }

    .Header-Inner {
        width: 300px;
    }

    .HeaderTitle-Wrapper > h2 {
        font-size: 20px;
    }

    .Header-Menu-List {
        display: none;
    }

    .Hamburger-Menu {
        display: block;
        float: left;
    }

    .ShopCart-Container, .Form-Container {
        float: none;
        margin: auto;
    }
}